body {
  background-color: #a9c9fc;
  margin: 0;
  padding: 0;
}

.nav {
  min-height: 40px;
    background-color: #20225c;
    text-align: center;
    padding: 10px;
    font-weight: 600;

}

.menu {
  display: flex;
  flex-flow: row;
  color: #fff;
  list-style-type: none;
  margin: auto;
  padding: 0px;
  justify-content: space-around;
}

.menu li {
  padding: 10px;
}

.buttons {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}

.button {
    background-color: #a9c9fc;
    border-radius: 30%;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100px;
}

.button:hover {
    background-color: #303040; /* Green */
    color: white
    transition: 0.5s;
}
